nav {
  background-color: white !important;
  padding: 8px 0px;

  #nav-mobile {
    display: flex;
    justify-content: end;
  }

  li {
    a:hover {
      background-color: transparent !important;
    }
  }

  .input-field {
    color: black !important;
    border: 1px solid gray !important;
    border-radius: 3px;
    padding: 3px !important;
    margin: 10px 0px !important;

    input {
      margin: 0 !important;
    }
    label {
      left: 0px;
      margin: 0px !important;
      i {
        color: gray !important;
      }
    }

    i {
      line-height: normal !important;
      top: -2px !important;
      right: 0px !important;
      margin: 0px !important;
    }
  }
}
