.container {
  max-width: 1000px;

  .card {
    margin: 0;

    .row {
      margin: 20px 0 !important;

      .avatarContainer {
        display: flex;
        justify-content: center;
        cursor: pointer;
      }

      img {
        height: 40px;
      }

      .col {
        margin: 0;
        padding: 0;

        .black-text {
          h6 {
            font-weight: 500;
            cursor: pointer;
          }
        }
      }

      .right {
        display: flex;
        justify-content: center;

        h4 {
          margin: 0 !important;
          cursor: pointer;
        }
      }
    }
  }

  .card-content {
    .icons {
      cursor: pointer;
    }

    .flex {
      display: flex;
      align-items: baseline;
      margin-bottom: 10px;

      & * {
        margin-right: 1em;
      }
    }

    h6 {
      font-weight: 500;
    }

    .postTime {
      font-size: 15px;
      color: grey;
    }
  }
}
