.container {
  max-width: 1000px;

  .card {
    margin-top: 20px;
    margin-bottom: 0;
    box-shadow: none !important;
    border: 1px solid #dbdbdb;
    .row {
      height: 60px;
      margin: 0 !important;
      display: flex;
      align-items: center;

      .avatarContainer {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      img {
        height: 40px;
        cursor: pointer;
        max-width: 1000px;
      }

      .col {
        margin: 0;
        padding: 0;

        .black-text {
          p {
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;
          }
        }
      }

      .right {
        display: flex;
        justify-content: center;

        h4 {
          margin: 0 !important;
          cursor: pointer;
        }
      }
    }
  }

  .card-content {
    border: 1px solid #dbdbdb;
    border-top: none;
    padding: 10px;

    .icons {
      cursor: pointer;
      & * {
        margin-right: 5px;
      }
    }

    .flex {
      display: flex;
      align-items: baseline;
      margin-bottom: 10px;

      & * {
        margin-right: 1em;
      }
    }

    p {
      font-size: 14px;
    }

    .bold {
      font-weight: 500;
      cursor: pointer;
    }

    .postTime {
      font-size: 10px;
      text-transform: uppercase;
      color: grey;
      margin-bottom: 10px;
    }

    .comment {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px;
      padding-top: 13px;
      border-top: 1px solid #dbdbdb;

      .firstElement {
        display: flex;
        align-items: center;
      }

      .face {
        width: 24px;
        height: 24px;
        margin-right: 20px;
      }

      input {
        width: 400px;
        box-shadow: none;
        border: none;
        margin: 0;
        height: 18px;
        font: 14px;

        &:focus {
          border: none;
        }
      }

      input::placeholder {
        font-size: 14px;
        color: grey;
      }

      h6 {
        font-size: 14px;
        color: #8ecef8;
        cursor: pointer;
      }
    }
  }
}
