.suggestions {
  margin-top: 1rem;
  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    .text1 {
      font-weight: 500;
      color: grey;
    }

    .text2 {
      font-size: 12px;
      cursor: pointer;
    }
  }

  .foot {
    padding: 6px 0;

    .circle {
      width: 32px;
      margin-right: -30px;
    }

    .username {
      margin: 0;
    }
    .followed {
      margin: 0;
      color: grey;
    }
  }
}
